@charset "UTF-8";
/* CSS Document */

/* Styles for browser window is widder than 800px */
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  font-family: 'Figtree', sans-serif;
}

footer {
  background-color: #DEDEDB;
  color: #707070;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container {
  display: flex;
  gap: 100px;
  padding: 50px 20px;
  max-width: 1280px;
  margin: auto;
}

.about {
  flex-grow: 1;
  flex-basis: 100%;
}

.service {
  flex-grow: 1;
  flex-basis: 100%;
}

.copyright {
  flex-grow: 1;
  flex-basis: 100%;
}

.shipping {
  background-color: white;
  color: #4A4949;
  padding: 30px;
  font-weight: 600;
  font-size: 27px;
  text-align: left;
} 

.container h3 {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
}

.container ul {
  font-weight: 300;
}

.service ul {
  list-style-type: none;
  line-height: 1.6;;
}
.about ul {
  list-style-type: none;
  line-height: 1.6;;
}

.linebreak {
  display: block;
}

/* Start: tell browser to do the followings when browser window is 800px or smaller */
@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

}