@charset "UTF-8";
/* CSS Document */

html {
  font-size: 100%;
  font-family: 'Poppins', sans-serif;
} /*16px*/

body {
  background-color: ##ebede9;
  color: #132f37;
  margin: 0;
  padding: 50px;
  line-height: 1.75;
}
h1 {
  margin: auto;
  font-size: 5em;
  font-weight: 500;
}

h2 {
  font-size: 3em;
  font-weight: 500;
  margin-bottom: auto;

}

h4 {
  font-size: 1.2em;
  font-weight: 200;
  color: #e63c41;
  margin-top: auto;

}

dt {
	font-size: 2em;
	font-weight: 500;
}
a:link, a:visited {
  color: #e63c41;
}